
CardGame/.vs/CardGame/v16/Server/sqlite3/storage.ide-wal
CardGame/.vs/CardGame/v16/Server/sqlite3/storage.ide-shm
CardGame/.vs/CardGame/v16/Server/sqlite3/storage.ide
CardGame/.vs/CardGame/v16/Server/sqlite3/db.lock
